.confirmationContainer {
  text-align: center;
  margin-top: 10vh;

  .bookingConfirmed {
    font-size: 50px;
    font-weight: 600;
    color: black;
  }
  .bookingId {
    font-size: 30px;
    font-weight: 400;
  }
  .id {
    font-size: 24px;
    color: #00453e;
  }
  .emailmessage {
    font-size: 16px;
  }
  .youreoff {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.servicecontainer {
  width: 50vw;
  margin-left: 25vw;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-radius: 0.75rem;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}