// Service Info

.servicebanner {
  width: 100vw;
  background-color: #00453e;
  height: auto;
  color: #ffffff;
  display: flex;
  flex-direction: row;
}

.servicedetailscontainer {
  width: 75vw;
}

.furtherinfo {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.serviceContainer {
  width: 90vw;
  margin-left: 10vw;
  height: auto;
  color: #ffffff;
  border-radius: 1.75rem;
  display: flex;
  flex-direction: column;
  h4 { 
    font-size: 20px;
    margin: 1px;
  }
}

.operatorService {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
  margin: 10px;
  h4 {
    margin-right: 25px;
    color: #ffffff;
  }
}

.servicedetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
  margin: 10px;
}
.serviceinfo {
  font-size: 40px;
  margin-left: 10.5vw;
  width: 100%;
}
.OriginDest {
  // border: 1px red solid;
  
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.timings {
  display: flex;
  flex-direction: row;
}

.timediv {
  margin-right: 20px;
  text-align: center;
}

.overnighticon {
  color: white;
  background-color: darkblue;
  border-radius: 10px;
  margin-left: 10px;
  padding: 2px 40px 2px 40px;
  text-align: center;
}

.allinfo {
  border: 1px #ffffff solid;
  padding: 15px 40px 15px 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  width:80%;
  text-align: center;
}

.allinfo:hover {
  background-color: #ffffff;
  color: #00453e;
  transition: 0.5s;
  cursor: pointer;
}

.amendsearch {
  padding: 15px 40px 15px 40px;
  background-color: #006d62;
  margin-top: 5px;
  margin-bottom: 0px;
  border-radius: 10px;
  width:80%;
  text-align: center;
}