.titlecontainer {
  text-align: center;
  margin-top: 7.5vh;
}
.title {
  font-size: 42px;
  font-weight: 600;
}

.route {
  font-size: 28px;
  font-weight: 500;
}


.servicecontainer {
  width: 60vw;
  margin-left: 20vw;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  // border-radius: 0.75rem;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

// .servicecontainer:hover {
//   background-color: rgb(245, 245, 245);
// }


.servicetop {
  margin-left: 0.5%;
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
  .servicetopdetails {
    display: flex;
    flex-direction: row;
    width: 50%;
    text-align: left;
    // background-color: palevioletred;
  }


  .time {
    font-size: 30px;
    font-weight: 700;
  }
  .servicetoppricing {
    width: 50%;
    text-align: right;
    // background-color: palegoldenrod;
  }
    .price {
      font-weight: 600;
      font-size: 40px;
      color: black;
  
    }



.facilities {
  display: flex;
  align-items: flex-start;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  margin-left: 0.5%;
}

.facilitiesIcon {
  height: auto;
  background-color: transparent;
  font-size: 24px;
  margin-right: 20px;
}

.servicemaincontainer {
  display: flex;
  flex-direction: column;
  margin-left: 0.5%;
  font-size: 18px;
  margin-bottom: 10px;
}

.servicefurtherinfo {
  width: 99%;
  margin-left: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 20px;
}
  .bookbutton {
    width: fit-content;
    background-color: #006006;
    color: white;
    // border-radius: 0.75rem;
    padding: 10px 20px;
    border: none;
  }
