.planbutton {
  background-color: rgb(176, 0, 0);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  width: 20%;
  margin-left: 40%;
  padding: 50px;
  margin-top: 40vh;
  cursor: pointer;
}