.page {
  height: 100vh;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.leftSide {
  margin-top: 0;
  height: 100vh;
  width: 50%;
  background-image: linear-gradient(rgb(124, 0, 0), rgb(255, 0, 0)), url("../images/Lux-express-passenger.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content:center;
  align-items:center;
}

.rightSide {
  margin-top: 0;
  background: rgb(255,255,255);
  height: 100vh;
  width: 50%;

  h2 {
    font-size: 60px;
    margin-left: 8%;
  }
}

form {
  border: 0.5px lightgray solid;
  width: 90%;
  margin-left: 5%;
  margin-top: 15vh;

  input {
    width: 90%;
    height: 40px;
    margin: 0px 5% 50px 5%;
  }

  label {
    width: 90%;
    margin-left: 5%; 
  }

  .errormsg {
    margin-left: 5%;
    color: rgb(230, 0, 0);
  }
  button {
    margin: 0px 5% 10px 5%;
    width: 90%;
    background-color:rgb(230, 0, 0);
    border: none;
    height: 40px;
    cursor: pointer;
    color: white;
  }

  .registerButton {
    background-color: transparent;
    color: black;
  }

  .registerLink {
    color: rgb(230, 0, 0);
  }
}