@import "../Variables/Variables.scss";

.topnav {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 1s ease;
  height: 7.5vh;
  position: fixed;
  width: 100vw;
  z-index: 3;
}

.topnavtopdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 1s ease;
  height: 7.5vh;
  width: 100vw;
}



.fullmenu {
  background-color: $accent-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 65vh;
  transition: 1s ease;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.fullmenutopdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 1s ease;
  width: 100vw;
  z-index: 2;
}

.rightitems {
  display: flex;
  flex-direction: row;
  margin-right: 1vw;
}

.leftitems {
  margin-left: 1vw;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.913);
  transition: 1s ease;
}

.fullmenubuttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  transition: 1s ease;
}

.fullmenubuttons:hover {
  background-color: #19a39561;
  cursor: pointer;
}

.buttons:hover {
  background-color: rgba(119, 163, 123, 0.633);
  cursor: pointer;
}
.buttontext {
  margin: 7.5px;
  display: flex;
  align-items: center;
}


.logo {
  color: #006006;
  font-weight: 800;
  font-size: 26px;
  transition: 1s ease;
}

.fullmenulogo {
  color: white;
  font-weight: 800;
  font-size: 26px;
  transition: 1s ease;
}

.logsignbox {
  display: flex;
  flex-direction: row;
}

// E X T E N D E D   M E N U   S T Y L I N G


.fullmenubottom {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  transition: 2s ease;
}

.leftmenucontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: transparent;
  width: 46vw;
  margin-left: 1vw;
  margin-right: 1vw;
  height: 55vh;
  transition: 3s ease;
}

.rightmenucontainer {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 46vw;
  margin-left: 1vw;
  margin-right: 1vw;
  height: 55vh;
  transition: 3s ease;
}
.menuItems {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 20%;
  border-radius: 5px;
  padding: 5px;
}

.menuItems:hover {
  background-color: #19a39561;
}

.menuIcon {
  font-size: 25px;
  color: white;
  font-weight: 500;
  animation: fadeIn 1.5s;
  border-radius: 5px;
  padding-left: 5px;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa-fw {
  padding-right: 20px;
}
.bottomlink {
  font-size: 25px;
  color: white;
  font-weight: 500;
  animation: fadeIn 1.5s;
  width: 70%;
  border-radius: 5px;
  padding-left: 5px;
}

.signuplink {
  font-size: 25px;
  color: white;
  font-weight: 500;
  animation: fadeIn 1.5s;
  width: 400px;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
  margin-left: 20%;
}

.accountimages {
  height: auto;
  width: 400px;
  margin-left: 20%;
  margin-top: 5px;
}
.accountlink {
  font-size: 25px;
  text-decoration: underline 1px;
  color: white;
  font-weight: 100;
  margin-bottom: 10px;
  animation: fadeIn 1.5s;
  margin-left: 20%;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% {opacity: 0;}
  100% { opacity: 1; }
}

.hrcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.hr {
  border: solid rgba(255, 255, 255, 0.566);
  border-width: 0px 0px 0px 0.25px;
  height: 95%;
}

// L O G G E D   I N   U S E R   S T Y L I N G  

.welcomecontainer {
  display: flex;
  flex-direction: column;
  color: white;
  height: 50%;
  font-size: 40px;
  word-spacing: 2;
  font-weight: 500;
  animation: fadeIn 1.5s;
}

.userlinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.userlink {
  font-size: 25px;
  color: white;
  font-weight: 500;
  animation: fadeIn 1.5s;
  width: auto;
  border-radius: 5px;
  padding-left: 5px;
}
.userIcon {
  font-size: 25px;
  color: white;
  font-weight: 500;
  animation: fadeIn 1.5s;
  border-radius: 5px;
  padding-left: 10px;
  width: 10%;
  align-items: center;
  justify-self: flex-end;
  padding-top: 3px;
}


// L o g g e d .  i n .  b u t t o n s   

.loggedinbutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  color: black;
  transition: 1s ease;
}

.loggedinbutton:hover {
  cursor: pointer;
}

.loggedIncontainer {
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 1vw;
  position: absolute;
  margin-left: 79vw;
  margin-top: 7.5vh;
  width: 20vw;
  background-color: white;
  border-radius: 0.75rem;
  border: 0.5px grey solid;
}

.loggedInContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.75rem;
  .loggedindashbutton {
    font-size: 18px;
    border: rgb(0, 71, 64) 1px solid;
    color: rgb(0, 71, 64);
    text-align: center;
    border-radius: 0.75rem;
    padding: 10px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 10px;
  }
  .logoutbutton {
    font-size: 18px;
    background-color: rgb(0, 71, 64);
    color: white;
    border: none;
    border-radius: 0.75rem;
    padding: 10px;
    width: 70%;
    margin-left: 15%;
  }

}