.topnav {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}

.rightitems {
  display: flex;
  flex-direction: row;
  margin-right: 1vw;
}

.leftitems {
  margin-left: 1vw;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  color: black;
}

.buttons:hover {
  background-color: rgba(119, 163, 123, 0.633);
  cursor: pointer;
}
.buttontext {
  margin: 7.5px;
  display: flex;
  align-items: center;
}

.logo {
  color: #006006;
  font-weight: 800;
  font-size: 26px;
}