.headingcontainer {
  margin-top: 10vh;
  margin-left: 5vw;

  .welcomemessage {
    font-size: 40px;
    font-weight: 400;
    color: black;
  }
  .subwelcome {
    font-size: 30px;
    font-weight: 200;
  }
}
.linkContainer {
  margin-left: 5vw;
  margin-top: 40px;
}
.optionButton {
  background-color: white;
  font-size: 20px;
  padding:10px;
  margin: 10px 10px 10px 0px;
  border-radius: 0.75rem;
  color: #00453e;
  border: 2px #00453e solid;
  cursor: pointer;
}

.optionButton:hover {
  background-color: #00453e;
  color: white;
  cursor: pointer;
}

@media (width <= 400px) { 
  .headingcontainer {
  
    .welcomemessage {
      font-size: 35px;
      font-weight: 400;
      color: black;
    }
    .subwelcome {
      font-size: 25px;
      font-weight: 300;
    }
  }

  .linkContainer {
    margin-top: 30px;
  }

  .optionButton {
    background-color: white;
    font-size: 25px;
    padding:10px;
    margin: 10px 10px 10px 0px;
    color: #00453e;
    border: none;
    cursor: pointer;
  }
  
  .optionButton:hover {
    background-color: #00453e;
    color: white;
    cursor: pointer;
  }
}