@import "../../Variables/Variables.scss";
  
// M A I N    M O D A L    S T Y L I N G 

.modal {
  top: 0;
  z-index: 3;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.066);
}

.detailsModel {
  z-index: 4;
  top: 0;
  background-color: white;
  position: absolute;
  margin: 10vh 10vw;
  width: 80vw;
  height: 80vh;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  overflow: scroll;
  border-radius: 0.75rem;
}


// C L O S E    A N D    T I T L E

.modaltopbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $accent-color;
  color: white;
  
  .modaltitle {
    font-size: 40px;
    font-weight: 700;
    margin-left: 2.5%;
    
  }
}




.Busimages {
  height: 200px;
  width:300px;
  object-fit: cover;
  margin: 5px;
}

.modalmaincontent {
  display: flex;
  flex-direction: row;
}

.closebutton {
  font-size: 20px;
  font-weight: 500;
  padding-right: 20px;
  color: white;
} 


//! D E T A I L S    S T Y L I N G

//? Right Side

.details {
  width: 50%;

  padding: 2%;
}

.topdetails {
  .date {
    font-size: 32px;
    font-weight: 300;
    
  }

  .operator {
    font-size: 26px;
    font-weight: 600;
    margin-left: 0.5%;
  }
}

.OriginDestContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.OriginDest {
  margin-left: 0%;
  margin-top: 20px;
  width: 32%;

  
  h5 {
    font-size: 24px;
    font-weight: 700;
  }

  p {
    font-size: 18px;
  }
}

.OriginDestduration {
  margin-left: 15px;
  margin-top: 20px;
  width: 32%;
  margin-right: 15px;
}

.duration {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-bottom: 2px grey solid;
}

.serviceno {
  color: $accent-color;
  font-size: 18px;
  font-weight: 600;
  margin-left: 0.5%;
}
//? Left Side 

// I M A G E S
.facilitiesandimg {
  display: flex;
  flex-direction: column-reverse;
  width: 50%;
  justify-content: flex-end;
}

.imagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

// F A C I L I T I E S

.facilitiestitle {
  font-size: 35px;
  font-weight: 700;
  margin-left: 2%;

}

.facilitiesModal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 2%;
  margin-right: 2%;
}

.facilitiesIconModel {
  display: flex;
  width: 50%;
  flex-direction: row;
  height: auto;
  background-color: transparent;
  font-size: 24px;
  margin-top: 10px;

}

.icon {
  width: 15%;
}


// stops

.stoptitle {
  margin-top: 15px;
  font-size: 20px;
  text-decoration: underline;
  display: flex;
  flex-direction: row;
  align-items: center;
} 

.stoptitle:hover {
  cursor: pointer;
} 

.stopcontainer {
  margin-top: 10px;
  border-left: 5px solid $accent-color;
}

.stopdiv {
  margin-bottom: 20px;
  margin-top: 1px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.stoptimediv {
  margin-right: 20px;
}

.stopcity {
  font-size: 18px;
  font-weight: bold;
}

.stopstop {
  font-weight: 300;
  font-size: 16px;
}

.stoptime {
  font-size: 24px;
  font-weight: 600;

}